<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Criar Post</title>
</head>
<body>
    <header>
        <img class="logo" src="/static/img/logo.png" alt="Logo">

        <nav>
            <a href="/create">Criar</a>
        
        </nav>


        <div>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </header>

    <h1>Criar novo Post</h1>

    <form action="/add" method="post">
        <input name="titulo" placeholder="Título"><br>
        <input name="resumo" placeholder="Sinopse"><br>
        <textarea name="conteudo" placeholder="Conteúdo"></textarea><br>
        <input name="autor" placeholder="Seu nome"><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>