<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Editar Post</title>
</head>
<body>
    <header>
        <img class="logo" src="/static/img/logo.png" alt="Logo">

        <nav>
            <a href="/create">Criar</a>
            <a href="#">Editar</a>
        
        </nav>


        <div>
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </header>
    <h1>Editar Post</h1>

    <form action="/update/{{ post.id }}" method="post">
        <div>
            <span>Título</span>
            <input name="titulo" value="{{ post.titulo }}">
        </div>
        <div>
            <span>Sinopse</span>
            <input name="resumo" value="{{ post.resumo }}">
        </div>
        <div>
            <span>Conteúdo</span>
            <textarea name="conteudo">{{ post.conteudo }}</textarea>
        </div>
        <div>
            <span>Autor</span>
            <input name="autor" value="{{ post.autor }}">
        </div>
        <button type="submit">Salvar Alterações</button>
        <a href="/">Cancelar</a>
    </form>
</body>
</html>