<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Excluir Posts</title>
</head>
<body>
    <header>
        <div class="cabecalho">
            <img src="/static/assets/logo_forum.png" class="logo" alt="Forum Web Logo">
            <nav>
                <a href="/">Home</a>
                <a href="/view">Visualizar Posts</a>
                <a href="/postar">Criar Posts</a>
                <a href="/editar">Editar Posts</a>
                <a href="/excluir">Excluir Posts</a>
            </nav>
        </div>
    </header>
    <main>
        <h1 class="titulo">Excluir Posts</h1>
        <ul>
            {% for post in posts %}
                <li>
                    <h3>{{ post.titulo }}</h3>
                    <form action="/excluir/{{ post.id }}" method="post">
                        <button class="deletar" type="submit">🗑️ Excluir</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>