<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Forum Web</title>
</head>
<body>
    <header>
        <div class="cabecalho">
            <img src="/static/assets/logo_forum.png" class="logo" alt="Forum Web Logo">
            <nav>
                <a href="/">Home</a>
                <a href="/view">Visualizar Posts</a>
                <a href="/postar">Criar Posts</a>
                <a href="/editar">Editar Posts</a>
                <a href="/excluir">Excluir Posts</a>
            </nav>
        </div>
    </header>
    <main>
        <h1 class="titulo">Bem-vindo ao Forum Web</h1>
        <p>Este é um fórum onde você pode criar, visualizar, editar e excluir posts. Use a navegação acima para acessar as diferentes funcionalidades do fórum.</p>
    </main>
</body>
</html>