<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ADD</title>
</head>
<body>
    <header>
        <div class="cabecalho">
            <img src="/static/assets/logo_forum.png" class="logo" alt="Forum Web Logo">
            <nav>
                <a href="/">Home</a>
                <a href="/view">Visualizar Posts</a>
                <a href="/postar">Criar Posts</a>
                <a href="/editar">Editar Posts</a>
                <a href="/excluir">Excluir Posts</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="caixa-dos-posts">
            <h1 class="titulo">Adicione</h1>
            <form action="/add" method="post">
                <div class="post">
                    <input class="titulo-do-post" type="text" name="titulo" placeholder="Digite o título do post">
                    <input class="informacoes-do-post" type="text" name="informacoes" placeholder="Digite o conteúdo do post">
                    <button class="botao-adicionar" type="submit">Adicionar</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>